@model List<Contact>
@Html.Raw(TempData["msgDel"])
@{
    ViewData["Title"] = "Lista de Contatos";
}

<div id="ContactApp">
    <div class="row">
        <div class="col-auto"><h1 class="display-4">Lista de Contatos</h1></div>

        @if (TempData["MsgSuccess"] != null)
        {
            <div class="alert alert-success col-auto text-center" role="alert" v-show="alertDiv">
                @TempData["MsgSuccess"]
                <button type="button" class="btn btn-sm btn-danger btn-close rounded-circle p-1" aria-label="Close" @@click="closeAlert"></button>
            </div>
        }

        @if (TempData["MsgError"] != null)
        {
            <div class="alert alert-danger col-auto text-center" role="alert" v-show="alertDiv">
                @TempData["MsgError"]
                <button type="button" class="btn btn-sm btn-danger btn-close rounded-circle p-1" aria-label="Close" @@click="closeAlert"></button>
            </div>
        }

    </div>


    <div class="d-grid gap-2 d-md-flex justify-content-start text-center">
        <a role="button" class="btn btn-sm btn-primary" asp-controller="Contact" asp-action="CreateContact">Cadastrar Contato</a>
        
    </div>
    <hr />
    <div class="d-flex justify-content-center">
        <div class="table-responsive">
            <table class="table-sm border-dark" id="contactTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Celular</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (Contact contacts in Model)
                        {
                            <tr>
                                <td>@contacts.Id</td>
                                <td>@contacts.Name</td>
                                <td>@contacts.Email</td>
                                <td>@contacts.CellPhone</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a role="button" class="btn btn-sm btn-primary" asp-controller="Contact" asp-action="UpdateContact" asp-route-id="@contacts.Id">Editar</a>
                                        <a role="button" class="btn btn-sm btn-danger" asp-controller="Contact" asp-action="ConfirmDelete" asp-route-id="@contacts.Id">Deletar</a>
                                    </div>
                                </td>                               
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@3.2.41/dist/vue.global.js"></script>

<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                alertDiv: true,
            }
        },
        methods: {

            closeAlert: function () {
                this.alertDiv = false;
            },

        },
    }).mount('#ContactApp')
</script>



