@model List<ContatoModel>
@Html.Raw(TempData["msgDel"])
@{
    ViewData["Title"] = "Lista de Contatos";
}



<h1 class="display-4">Lista de Contatos</h1>
<div class="d-grid gap-2 d-md-flex justify-content-start text-center">
    <a role="button" class="btn btn-sm btn-primary" asp-controller="Contato" asp-action="Criar">Add Novo Contato</a>
</div>
<hr />
<div class="table-responsive">
    <table class="table-sm border-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Celular</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (ContatoModel contatos in Model)
                {
                    <tr>
                        <td>@contatos.Id</td>
                        <td>@contatos.Nome</td>
                        <td>@contatos.Email</td>
                        <td>@contatos.Celular</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a role="button" class="btn btn-sm btn-secondary" asp-controller="Contato" asp-action="Editar" asp-route-id="@contatos.Id">Editar</a>
                                <a role="button" class="btn btn-sm btn-danger btn-" asp-controller="Contato" asp-action="ApagarConfirmacao" asp-route-id="@contatos.Id">Deletar</a>
                            </div>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>