@model List<ContatoModel>
@{
    ViewData["Title"] = "Lista de Contatos";
}



<h1 class="display-4">Lista de Contatos</h1>
<div class="d-grid gap-2 d-md-flex justify-content-start text-center">
    <a role="button" class="btn btn-sm btn-primary" asp-controller="Contato" asp-action="Criar">Add Novo Contato</a>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Celular</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (ContatoModel contatos in Model)
            {
                <tr>
                    <th scope="row">@contatos.Id</th>
                    <th>@contatos.Nome</th>
                    <th>@contatos.Email</th>
                    <th>@contatos.Celular</th>
                    <th>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a role="button" class="btn btn-sm btn-info" asp-controller="Contato" asp-action="Editar" asp-route-id="@contatos.Id">Editar</a>
                            <a role="button" class="btn btn-sm btn-danger" asp-controller="Contato" asp-action="ApagarConfirmacao" asp-route-id="nome_@contatos.Nome-id_@contatos.Id">Deletar</a>
                        </div>
                    </th>
                </tr>

            }
        }
    </tbody>
</table>