@using ContactsManage.Enums
@model UserModel
@{
    ViewData["Title"] = "Add Usuário";
}

<div class="text-center">

    <h1>Add Usuário</h1>

</div>
<div class="row g-3 align-items-center">
    <form asp-controller="Usuario" asp-action="Criar" method="post">
        <div class="form-group col-auto">
            <input type="text" asp-for="Nome" class="form-control" placeholder="Nome" />
            @Html.ValidationMessageFor(user => user.Nome)
        </div>

        <div class="form-group col-auto">
            <input type="text" asp-for="Email" class="form-control" placeholder="Email" />
            @Html.ValidationMessageFor(user => user.Email)
        </div>

        <div class="form-group col-auto">
            <input type="text" asp-for="Login" class="form-control" placeholder="Login" />
            @Html.ValidationMessageFor(user => user.Login)
        </div>

        <div class="form-group col-auto">
            <select type="text" asp-for="Perfil" class="form-control" placeholder="Perfil">
                <option value="">Selecione</option>
                <option value="@PerfilEnum.Admin">Admin</option>
                <option value="@PerfilEnum.Padrao">Padrão</option>                
            </select>
            @Html.ValidationMessageFor(user => user.Perfil)
        </div>

        <div class="form-group col-auto">
            <input type="password" asp-for="Senha" class="form-control" placeholder="Senha" />
            @Html.ValidationMessageFor(user => user.Senha)
        </div>

        <button type="submit" class="btn btn-sm btn-primary">Add</button>
        <a role="button" class="btn btn-sm btn-secondary" asp-controller="Usuario" asp-action="Index">Voltar</a>
    </form>
</div>