@model List<UserModel>
@using DawnPoets.Enums
@Html.Raw(TempData["msgDel"])
@{
    ViewData["Title"] = "Lista de Usuarios";
}

<div id="UserApp">
    <div class="row">
        <div class="col-auto"><h1 class="display-4">Lista de Usuarios</h1></div>

        @if (TempData["MsgSuccess"] != null)
        {
            <div class="alert alert-success col-auto text-center" role="alert" v-show="alertDiv">
                @TempData["MsgSuccess"]
                <button type="button" class="btn btn-sm btn-danger btn-close rounded-circle p-1" aria-label="Close" @@click="closeAlert"></button>
            </div>
        }
        @if (TempData["MsgError"] != null)
        {
            <div class="alert alert-danger col-auto text-center" role="alert" v-show="alertDiv">
                @TempData["MsgError"]
                <button type="button" class="btn btn-sm btn-danger btn-close rounded-circle p-1" aria-label="Close" @@click="closeAlert"></button>
            </div>
        }

    </div>


    <div class="d-grid gap-2 d-md-flex justify-content-start text-center">
        <a role="button" class="btn btn-sm btn-primary" asp-controller="Usuario" asp-action="Criar">Adicionar Usuário</a>
    </div>
    <hr />
    <div class="d-flex justify-content-center">
        <div class="table-responsive">
            <table class="table-sm border-dark" id="contactTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Login</th>
                        <th scope="col">Email</th>
                        <th scope="col">Perfil</th>
                        <th scope="col">Data de Cadastro</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (UserModel users in Model)
                        {
                            <tr>
                                <td>@users.Id</td>
                                <td>@users.Nome</td>
                                <td>@users.Login</td>
                                <td>@users.Email</td>
                                <td>@users.Perfil</td> <!--validar etc. @@(users.Perfil == PerfilEnum.Admin ? "Administrador" : "Padrão")-->
                                <td>@users.DataCadastro</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a role="button" class="btn btn-sm btn-primary" asp-controller="Usuario" asp-action="Editar" asp-route-id="@users.Id">Editar</a>
                                        <a role="button" class="btn btn-sm btn-danger" asp-controller="Usuario" asp-action="ApagarConfirmacao" asp-route-id="@users.Id">Deletar</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://unpkg.com/vue@3.2.41/dist/vue.global.js"></script>
<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                alertDiv: true,
            }
        },
        methods: {

            closeAlert: function () {
                _this = this
                this.alertDiv = false;
            },

        },

    }).mount('#UserApp')
</script>



